.idea
.DS_Store
evaluation-utilities/QANARY-QA-Components/qa.qanary_component-QueryBuilder/target/
evaluation-utilities/QANARY-QA-Components/qanary_component-NED-AGDISTIS/target/
evaluation-utilities/QANARY-QA-Components/qanary_component-NER-stanford/target/
evaluation-utilities/QANARY-QA-Components/qanary_component-REL-RELNLIOD/target/
evaluation-utilities/QANARY-QA-Components/qanary_component-REL-RelationLinker1/target/
evaluation-utilities/QANARY/qald-evaluator/target/
evaluation-utilities/QANARY/qanary_component-archetype/target/
evaluation-utilities/QANARY/qanary_component-template/target/
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__audio_0bec69c1-faff-4c8e-a47a-cfcac69b5abe
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__audio_2876d9c3-a6a5-43b4-8e0a-ef080ab0dc51
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__audio_3d4a8352-5481-4783-a5ce-5ca6ca74d608
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__audio_4533e114-ba5e-4103-ac14-ff9e00ea51db
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__audio_63ae6bb5-8e21-4bc1-830b-a5fdf0f8f393
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__audio_7bb1d421-2c20-48d6-92a4-f8a24256ee59
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__audio_7e578fb3-b6fe-464b-8837-0270119732cc
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__audio_9f35cd6a-3b2b-4310-ac11-461aa5cc79e3
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__text_01edfaa3-8fad-4905-bbd5-82caf87d95c4
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__text_1d8e147d-331f-4d92-aa82-54f637ee12da
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__text_2b133da2-38df-4c7b-9537-c3a356e8c5e6
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__text_389a0351-e058-4359-bf51-ca562cc9581e
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__text_452cafe0-da2a-4279-964d-648342e384b8
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__text_4aa5e86c-1023-4ff3-a8e4-2052b4e824e2
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__text_99b2a52e-67cd-40d2-bc68-f99a9d6df3f3
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question__text_b7bcbe58-265a-4b87-821e-c3bba3f94253
evaluation-utilities/QANARY/qanary_pipeline-template/stored-question*

questions.txt
questions_asked/
